@import '_variables';
@import '_mixins';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
}

.input-container {
	@include d-flex(column, space-around, center);

	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	padding: 30px 25px;
	border-radius: 15px;
	background-color: rgba(246, 248, 250, .85);
	border: 1px solid rgba(128, 128, 128, 0.514);
	box-shadow: 2px 3px 15px rgba(128, 128, 128, 0.74);
	width: 460px;
	height: 600px;
	padding-bottom: 15px;
	padding-top: 15px;

	.login-provider {
		@include d-flex(column, center, flex-start);

		width: 100%;
		position: relative;
		text-align: left;
		flex-wrap: wrap;

		#title h3 {
			font-size: 15px;
			text-align: center;
		}

		#sign-in-with-provider {
			@include d-flex(row, space-around, left);

			width: 100%;
			flex-wrap: wrap;
			margin-top: 10px;

			.auth-container {
				background-color: white;
				opacity: .95;
				border-radius: 3px;
				padding: 7.5px 15px;
				padding-left: 10px;
				box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2),
					0 1px 5px 0 rgba(0, 0, 0, .12);
				cursor: pointer;
				font-weight: 500;
				width: 130px;
				transition: all .3s ease;
				&[data-auth-provider=google] {
					color: grey;
					// font-size: 20px !important;

					&:hover {
						color: black !important;
						border-color: black;
						filter: brightness(96%);
						transition: all .3s ease;
					}
				} // google

				&[data-auth-provider=facebook] {
					background-color: #3b5998;
					color: white;

					&:hover {
						filter: brightness(115%);
					}
				} // facebook

				span.sign-in-auth {
					@include d-flex(row, flex-start, center);

					letter-spacing: 1px;

					img {
						margin-right: 10px;
						width: auto;
						height: 23px;
					}
				} // span.sign-in-auth
			} // auth-container
		} // #sign-in-with-provider
	} // .login-provider

	.forgot-container {
		@include fadeIn(1s);
		margin-top: 15px;

		a {
			color: $link-text-color;
			text-decoration: none;
			font-style: normal;
			font-family: 'Ubuntu', sans-serif;
			letter-spacing: 0px;

			&:hover {
				text-decoration: underline;
			}
		}
	} // .forgot-container
}

#background-img {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	filter: brightness(50%);
}

.register-container {
	@include d-flex('', space-around, center);

	width: 360px;
	height: 50px;
	margin-top: 5px;
	border-radius: 15px;
	background-color: rgba(246, 248, 250, .85);
	border: 1px solid rgba(128, 128, 128, 0.514);

	a {
		color: $link-text-color;
		text-decoration: none;
		font-style: normal;
		font-family: 'Ubuntu', sans-serif;

		&:hover {
			text-decoration: underline;
		}
	}
}// .register-container

.login-container {
	@include d-flex(column, space-between, center);
	position: relative;
	overflow: hidden;
	z-index: 10;
	border-radius: 7px;
	width: 490px;
	height: auto;
	color: black !important;
	font-family: 'Langar', cursive;
	letter-spacing: 1.5px;
	transition: width .3s ease-in-out, height .3s ease-in-out;

	form {
		@include d-flex(column, center, center);
		@keyframes formFadeIn {
			100% {
				opacity: 100%;
			}
		}

		overflow-y: auto;
		opacity: 0;
		width: 100%;
		padding: 15px;
		animation: .3s formFadeIn .3s ease-in-out forwards;
	}

	h1 {
		@include d-flex('', center, center);

		color: white;
		font-family: 'Ubuntu', sans-serif;
		position: relative;
		text-align: center;
		font-size: 35px;
		margin-bottom: 10px;
		width: fit-content;

		&::after {
			@include simpleAnim(width, 80%, 1.5s, 0s, ease-in-out);

			z-index: 5;
			content: '';
			position: absolute;
			border: 3px solid $login-object-theme;
			border-radius: 15px;
			bottom: -5px;
		}
	}



	.btn {
		width: 100%;
		background: none;
		border: 2px solid $login-object-theme;
		color: $login-text-theme;
		padding: 5px;
		font-size: 19px;
		cursor: pointer;
		margin: 12px 12px;
		border-radius: 5px;
		transition: all .5s ease;
	} //.btn

	.btn-cont {
		display: flex;
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-top: 35px;

		#signin-btn {
			border-color: #2c974b;
			color: #2c974b;
			margin-right: 0px;
			transition: color, .3s ease, background-color .3s ease;

			&:hover {
				background-color: #2c974b;
				color: white;
				transition: color, .3s ease, background-color .3s ease;
			}
		}

		#back-btn {
			margin-left: 0px;
			border-color: $login-object-theme;
			color: $login-text-theme;
			font-weight: bold;

			&:hover {
				background-color: $login-object-theme;
				color: white;
			}
		}
	} // .btn-cont

	@keyframes shake {
		10%,
		90% {
			transform: translate3d(-1px, 0, 0);
		}

		20%,
		80% {
			transform: translate3d(2px, 0, 0);
		}

		30%,
		50%,
		70% {
			transform: translate3d(-4px, 0, 0);
		}

		40%,
		60% {
			transform: translate3d(4px, 0, 0);
		}
	}

	.shake {
		animation: shake 0.82s;
	}

	.im-lock.incorrect,
	.im-user-circle.incorrect,
	.textbox.password label.incorrect,
	.textbox.username label.incorrect {
		color: red;
	}

	#title-incorrect {
		color: #ff0000;
		margin: 0;
		padding: 0;
		display: relative;
		position: absolute;
		left: 25px;
		top: 15px;
		transition: all .5s ease;
	}

	#title {
		width: 100%;
	}
} // form

@media (max-width: 350px) {
	body {
		justify-content: flex-start;
	}

	.login-container {
		width: 290px;
		height: auto;
	}

	#title {
		margin-bottom: 25px;
		margin-top: 0;
	}

	.input-container {
		width: 290px;

		.btn-cont {
			margin-top: 15px;
		}

		.textbox {
			label {
				font-size: 15px;
			}

			i {
				bottom: 6px;
			}
		}
	}

	.register-container {
		width: 290px;
	}
}
