@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --text-color-danger: #cb2431;
  --main-blue: #42a2d1;
  --login-object-theme: #000;
  --login-text-theme: #000;
  --link-text-color: #0366d6;
  --success-green: #2c974b;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

.menu {
  z-index: 9;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 1;
  border-bottom: 1px solid #e6e6e6;
  height: 80px;
  -webkit-transition: height .3s ease, opacity .3s ease;
  transition: height .3s ease, opacity .3s ease;
}

.menu img#nav-logo {
  opacity: 80% !important;
}

.menu.scrolled {
  height: 70px;
  opacity: .9;
  -webkit-transition: height .3s ease, opacity .3s ease;
  transition: height .3s ease, opacity .3s ease;
  border-bottom: none;
}

.menu.scrolled #nav-logo {
  height: 70px !important;
  -webkit-transition: height .3s ease;
  transition: height .3s ease;
}

.menu.scrolled .navbar-items {
  margin-left: 5px !important;
  -webkit-transition: margin-left .3s ease;
  transition: margin-left .3s ease;
}

.menu #nav-logo {
  height: 80px;
  -webkit-transition: height .3s ease;
  transition: height .3s ease;
}

.menu .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 80px;
  width: calc(100% - 80px);
}

.menu .navbar a {
  text-decoration: none;
  color: inherit;
}

.menu .navbar li {
  list-style-type: none;
  cursor: pointer;
}

.menu .navbar li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: auto;
  font-size: 1.2rem;
  margin: .667em 1em !important;
}

.menu .navbar li a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 100%;
  border: 2px solid var(--main-blue);
  width: 0;
  opacity: 0;
  border-radius: 15px;
  -webkit-transition: opacity .3s ease, width .3s ease;
  transition: opacity .3s ease, width .3s ease;
}

.menu .navbar li:hover {
  color: var(--main-blue);
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.menu .navbar li:hover a::after {
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity .3s ease, width .3s ease;
  transition: opacity .3s ease, width .3s ease;
}

.menu .navbar .navbar-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 25px;
  position: relative;
  width: 100%;
  -webkit-transition: margin-left .3s ease;
  transition: margin-left .3s ease;
}

.menu .navbar .navbar-items a {
  font-family: 'Jost', cursive;
  font-weight: bold;
  font-size: 1.3rem;
  font-style: normal;
  letter-spacing: 1px;
}

.menu .navbar .navbar-items .navbar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .navbar .navbar-items .navbar-registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  height: 100%;
  width: 25%;
}

.menu .navbar .navbar-items .navbar-registration #dashboard-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-direction: row;
}

.menu .navbar .navbar-items .navbar-registration #dashboard-link a#register-btn {
  margin-left: 15px;
}

.menu .navbar .navbar-items .navbar-registration #dashboard-link img {
  border-radius: 50%;
  width: 2.2rem;
  height: auto;
}

.menu .navbar .navbar-items .navbar-registration #dashboard-link i {
  font-size: 2.2rem;
}

body {
  overflow: hidden;
}

.popover {
  background-color: white;
  width: 85%;
  height: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /* Buttons */
  /* Login Inputs */
}

.popover .title {
  font-family: 'Rubik', cursive;
  font-size: 5.6rem;
  letter-spacing: 4px;
}

.popover .description {
  width: 55%;
  font-size: 1.3rem;
  font-family: 'Langar', cursive;
  letter-spacing: 2px;
}

.popover .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

.popover .buttons .btn {
  width: 100%;
  background: none;
  border: 2px solid var(--login-object-theme);
  color: var(--login-text-theme);
  padding: 5px;
  font-size: 19px;
  cursor: pointer;
  margin: 12px 12px;
  border-radius: 5px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.popover .buttons #buy-ticket {
  border-color: #2c974b;
  color: #2c974b;
  margin-right: 0px;
  -webkit-transition: color, .3s ease, background-color .3s ease;
  transition: color, .3s ease, background-color .3s ease;
}

.popover .buttons #buy-ticket:hover, .popover .buttons #buy-ticket:focus {
  background-color: #2c974b;
  color: white;
  -webkit-transition: color, .3s ease, background-color .3s ease;
  transition: color, .3s ease, background-color .3s ease;
}

.popover .buttons #back-btn,
.popover .buttons #home-btn {
  margin-left: 0px;
  border-color: var(--login-object-theme);
  color: var(--login-text-theme);
  font-weight: bold;
}

.popover .buttons #back-btn:hover, .popover .buttons #back-btn:focus,
.popover .buttons #home-btn:hover,
.popover .buttons #home-btn:focus {
  background-color: var(--login-object-theme);
  color: white;
}

.popover .textbox {
  width: 100%;
  position: relative;
  overflow: hidden;
  font-size: 20px;
  padding: 30px 0;
  margin: 8px 0;
  border-bottom: 1px solid var(--login-object-theme);
}

.popover .textbox i {
  position: absolute;
  width: 26px;
  float: left;
  text-align: center;
  bottom: 12px;
}

.popover .textbox i[class^="im im-eye"] {
  z-index: 5;
  position: absolute;
  cursor: pointer;
  right: 4px;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.popover .textbox i[class^="im im-eye"]:hover {
  opacity: 65%;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.popover .textbox .underline {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0px;
}

.popover .textbox .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: var(--login-object-theme);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  bottom: 0;
}

.popover .textbox .underline.incorrect::before {
  background: var(--text-color-danger) !important;
}

.popover .textbox label {
  z-index: 1;
  position: absolute;
  bottom: 8px;
  left: 36px;
  color: #5c5c5c;
  pointer-events: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 20px;
}

.popover .textbox label .required {
  color: red;
}

.popover .textbox input {
  z-index: 2;
  position: absolute;
  border: none;
  outline: none;
  background: none;
  color: var(--login-text-theme);
  font-size: 18px;
  width: 90%;
  float: left;
  bottom: 10px;
  margin: 0 10px;
  left: 20px;
}

.popover .textbox input:-webkit-autofill, .popover .textbox input:-webkit-autofill:hover, .popover .textbox input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--login-text-theme);
  background-color: transparent;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
          box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.popover .textbox input:focus ~ label,
.popover .textbox input:valid ~ label {
  -webkit-transform: translateY(-27px) translateX(-30px);
          transform: translateY(-27px) translateX(-30px);
  font-size: 17px;
  font-weight: 500;
  color: var(--login-object-theme);
}

.popover .textbox input:focus ~ .underline:before,
.popover .textbox input:valid ~ .underline:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.hide {
  display: none;
}

area {
  cursor: pointer;
}

.background-dark {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.589);
}

.popoverContent {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #42637f;
  width: 12.5%;
  text-align: center;
  font-family: 'Jost', cursive;
}

.popoverContent h5 {
  line-height: 50px;
  font-size: 15px;
}

.popoverContent button {
  font-size: 15px;
  font-family: 'Jost', cursive;
  padding: 8px 16px;
  text-align: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.btnReserve {
  background-color: white;
  color: black;
  border: 1px solid #e86d4c;
}

.btnReserve:hover {
  background-color: #e86d4c;
  color: white;
}
/*# sourceMappingURL=reservations.css.map */